body{
    /*margin: 0;*/
    font-family: Arial, Helvetica, sans-serif;
}
.land-image{
    background-image: url("../images/cooking.jpg");
    background-repeat: no-repeat;
    /*background-color: #cccccc;*/
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
}
#quote{
    font-style: italic;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 35%;
    left: 33%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}
footer{
    color: white;
    background-color: black;
    height: 200px;
}
.footer-text{
    text-align: center;
    position: relative;
    top: 50%;
    right: 10%;
}
.food_img{
    height: auto;
    width: 500px;
    border-radius: 25px;
}
.background{
    background-image: radial-gradient(#FBEEE6,#FFFFFF); 
}